@charset "UTF-8";
.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  background-color: #F8F6F5;
}

.header__link {
  float: left;
  margin-right: 12px;
}

.contact__link:focus {
  outline: 1px solid #695A59;
  outline-offset: 1px;
}

.contact__link:hover {
  background-color: #CFD8DC;
}

.contact__link:active {
  color: #343235;
}

.contact__item--tel::before {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  padding-right: 5px;
  background-image: url("../img/header-phone.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  position: relative;
  left: -25px;
  top: 30px;
}

.contact__item--adress::before {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  padding-left: 25px;
  position: relative;
  left: -25px;
  top: 40px;
  background-image: url("../img/header-map.svg");
  background-size: 18px;
  background-repeat: no-repeat;
}

.menu__btn {
  width: 36px;
  height: 32px;
  display: block;
  position: relative;
}

.menu__toggle + span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/header-hamburger.svg") no-repeat;
  cursor: pointer;
}

.menu__toggle:checked + span {
  background-position: 0 -26px;
}

.menu__toggle, .menu__box {
  visibility: hidden;
}

.menu__toggle:checked ~ .menu__box {
  visibility: visible;
}

.menu__box {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 150px;
  height: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(234, 225, 220, 0.7);
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.menu__item {
  display: block;
  padding: 5px 5px;
  color: #695A59;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.menu__item:focus {
  outline: 1px solid #695A59;
  outline-offset: 1px;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

.menu__item:active {
  color: #343235;
}

.promosection {
  background-image: url("../img/promo-background-img.png");
}

.promosection__btn {
  width: 228px;
  height: 52px;
  margin-left: 204px;
  background: transparent;
  border-style: none;
  border-top: 1px solid #A78587;
  border-bottom: 1px solid #A78587;
}

.promosection__title {
  width: 474px;
  height: 192px;
  padding-top: 80px;
  padding-left: 204px;
  margin-top: 0;
  margin-bottom: 0;
}

.promosection__text {
  width: 434px;
  height: 64px;
  padding-left: 204px;
}

.promosection__img {
  padding-left: 698px;
}

/*Основной текст*/
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserratbold.woff2") format("woff2"), url("../fonts/montserratbold.woff") format("woff"), url("../fonts/montserratbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*Заголовки*/
@font-face {
  font-family: "Old Standard TT";
  src: local("Old Standard TT Regular"), local("OldStandardTT-Regular"), url("../fonts/oldstandardttregular.woff2") format("woff2"), url("../fonts/oldstandardttregular.woff") format("woff"), url("../fonts/oldstandardttregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Montserrat, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #695A59;
}

body .header {
  font-size: 14px;
  line-height: 24px;
}

body .contact__link-text {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #695A59;
}

body .promosection__text {
  color: #EEE9E6;
  opacity: 0.6;
}

body .catalog-card__text--cost {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #343235;
}

body .catalog-card__text--footnote {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.6;
}

body .catalog-card__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #9A8584;
}

body .company__text {
  color: #FBF3F0;
}

body .company__text--small {
  font-size: 14px;
  line-height: 24px;
}

.logo__link, .contact__link, .menu__item {
  color: #695A59;
}

.promosection__btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #A78587;
  text-transform: uppercase;
}

h2 {
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 54px;
  text-transform: uppercase;
}

h2.promosection__title {
  font-size: 46px;
  font-weight: normal;
  line-height: 64px;
  text-transform: uppercase;
  color: #EEE9E6;
}

.blockquote {
  font-size: 14px;
  line-height: 24px;
}

.about__text--mod {
  color: #FFFFFF;
  font-size: 26px;
  line-height: 48px;
}

.catalog-card__title {
  font-family: Old Standard TT;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  color: #695A59;
  margin: 0;
}

.company__title, .footer__title {
  color: #EEE9E6;
  margin: 0;
}

.footer__text {
  color: #EEE9E6;
  opacity: 0.6;
}

.about {
  background-color: #EEE9E6;
}

.about__title {
  width: 573px;
  padding: 160px 594px 33px 199px;
  margin-top: 0;
  background-image: url("../img/about-us-background-text.png");
  background-repeat: no-repeat;
  background-position: 108px 135px;
}

.about__text {
  width: 573px;
  padding-left: 199px;
  padding-right: 594px;
  margin: 0;
}

.about__link {
  color: #9A8584;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.about__quote--first {
  width: 276px;
  height: 72px;
  padding-top: 16px;
}

.about__quote--second .blockquote__text {
  border-left: 1px solid #A78587;
  padding-left: 19px;
}

.about__text--mod {
  padding: 80px 99px 80px 99px;
  width: 968px;
  height: 144px;
}

.about__content {
  width: 1166px;
  height: 304px;
  background-image: url("../img/about-us-background-img.png");
  background-repeat: no-repeat;
}

.catalog {
  background-color: #EEE9E6;
}

.catalog__title {
  width: 573px;
  padding: 132px 594px 33px 199px;
  margin-top: 0;
  background-image: url("../img/catalog-background-text.png");
  background-repeat: no-repeat;
  background-position: 108px 135px;
}

.catalog-card {
  background: #fff;
  width: 375px;
  height: 604px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.catalog-card__link::after {
  content: "";
  display: block;
  position: relative;
  left: 85px;
  top: -20px;
  width: 80px;
  height: 80px;
  background-image: url("../img/catalog-arrow.png");
  background-repeat: no-repeat;
}

.catalog-card__link:focus {
  outline: 1px solid #9A8584;
  outline-offset: 1px;
}

.catalog-card__link:hover {
  background-color: #CFD8DC;
}

.catalog-card__link:active {
  color: #343235;
}

.catalog-card--innerbox {
  padding: 36px 36px 40px 36px;
}

.catalog-card--horizontal {
  width: 573px;
  height: 264px;
  background: #fff;
}

.catalog-card--horizontal:last-child {
  margin-bottom: 0;
}

.catalog-card__img--horizontal {
  float: left;
  margin-right: 36px;
}

.catalog-card__link--horizontal::after {
  content: "";
  display: block;
  position: relative;
  left: 265px;
  top: -20px;
  width: 80px;
  height: 80px;
  background-image: url("../img/catalog-arrow.png");
  background-repeat: no-repeat;
}

.projects, .collection {
  background-color: #EEE9E6;
}

.projects__title {
  width: 348px;
  height: 108px;
  padding: 132px 594px 33px 199px;
  margin-top: 0;
  background-image: url("../img/projects-background-text.png");
  background-repeat: no-repeat;
  background-position: 110px 132px;
}

.projects-slider {
  position: relative;
  width: 968px;
  height: 660px;
  overflow: hidden;
}

.projects-slider__container {
  position: relative;
  width: 10000px;
  height: 660px;
}

.projects-slider__img {
  float: left;
  padding: 44px 199px 120px 199px;
}

.projects-previous__control, .projects-next__control {
  position: absolute;
  top: 135px;
  display: block;
  width: 72px;
  height: 72px;
  cursor: pointer;
}

.projects-previous__control:hover, .projects-next__control:hover {
  opacity: 0.6;
}

.projects-previous__control {
  left: 100px;
  top: 338px;
  background-image: url("../img/projects-arrow-left.svg");
}

.projects-next__control {
  right: -10px;
  top: 338px;
  background-image: url("../img/projects-arrow-right.svg");
}

.projects-slider__img {
  height: 660px;
}

.projects-slider__desc {
  visibility: hidden;
}

.projects-slider__img:hover ~ .projects-slider__desc {
  visibility: visible;
}

.projects-slider__desc {
  display: block;
  width: 968px;
  height: 100px;
}

.company {
  background: #343235;
}

.footer {
  background-image: url("../img/footer-background-img.png");
  background-repeat: no-repeat;
}
/*# sourceMappingURL=normalize.css.map */