.about {
  background-color: #EEE9E6;
}

.about__title--wrapper {
  width: 743px;
  height: 130px;
  padding-top: 160px;
  margin-top: 0;
  background-image: url("../img/about-us-background-text.png");
  background-repeat: no-repeat;
  background-position: 5px 170px;
}

.about__title {
  padding: 40px 344px 16px 99px;
}

.about__text {
  width: 573px;
  margin: 0;
}

.about__text--first, .about__text--second {
  padding-top: 44px;
  padding-bottom: 40px;
}

.about--wrapper {
  padding-top: 33px;
  padding-bottom: 40px;
}

.about__link {
  color: #9A8584;
  text-decoration-line: underline;
}

.about__quote--first {
  margin: 0;
}

.about__quote--second {
  .blockquote__text {
    border-left: 1px solid #A78587;
    padding-left: 19px;
  }
}

.about__quote--second {
  margin: 0;
}

.about__text--mod {
  padding: 80px 99px 80px 99px;
  width: 968px;
  height: 144px;
}

.about__content {
  width: 1166px;
  height: 304px;
  background-image: url("../img/about-us-background-img.png");
  background-repeat: no-repeat;
}
