.about {
  background-color: #EEE9E6;
}

.about__title {
  width: 573px;
  padding: 160px 594px 33px 199px;
  margin-top: 0;
  background-image: url(../img/about-us-background-text.png);
  background-repeat: no-repeat;
  background-position: 108px 135px;
}
.about__text {
  width: 573px;
  padding-left: 199px;
  padding-right: 594px;
  margin: 0;
}

.about__link {
  color: #9A8584;
  text-decoration-line: underline;
}

.about__quote--first {
  width: 276px;
  height: 72px;
  padding-top: 16px;
}

.about__quote--second {
  .blockquote__text {
    border-left: 1px solid #A78587;
    padding-left: 19px;
}
}

.about__text--mod {
  padding: 80px 99px 80px 99px;
  width: 968px;
 height: 144px;
}
.about__content {
  background-image: url(../img/about-us-background-img.png);
  background-repeat: no-repeat;
  width: 1166px;
  height: 304px;
}
