.collection {
  background-color: #EEE9E6;
}

.collection__title--wrapper {
  width: 1018px;
  height: 110px;
  margin-top: 120px;
  padding-bottom: 36px;
  background-image: url("../img/collections-background-text.png");
  background-repeat: no-repeat;
  background-position: 9px 12px;
}

.collection__title {
  padding: 38px 347px 18px 99px;
}

.collection__img--fifth, .collection__img--sixth {
  padding-bottom: 111px;
}
