.header {
  background-color: #F8F6F5;
}

.header__link {
  float: left;
  margin-right: 12px;
}

.contact__link  {
  &:focus {
    outline: 1px solid #695A59;
    outline-offset: 1px;
  }
  &:hover {
    background-color: #CFD8DC;
  }
  &:active {
    color: #343235;
  }
}

.contact__item--tel::before  {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  padding-right: 5px;
  background-image: url("../img/header-phone.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  position: relative;
  left: -25px;
  top: 30px;
}

.contact__item--adress::before {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  padding-left: 25px;
  position: relative;
  left: -25px;
  top: 40px;
  background-image: url("../img/header-map.svg");
  background-size: 18px;
  background-repeat: no-repeat;
}

.menu__btn {
  width: 36px;
  height: 32px;
  display: block;
  position: relative;
}

.menu__toggle + span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/header-hamburger.svg") no-repeat;
  cursor: pointer;
 }

 .menu__toggle:checked + span {
  background-position: 0 -26px;
 }

 .menu__toggle, .menu__box {
  visibility: hidden;
 }

.menu__toggle:checked ~ .menu__box {
  visibility: visible;
}

.menu__box {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 150px;
  height: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(234, 225, 220, 0.7);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  text-align: center;
}

.menu__item {
  display: block;
  padding: 5px 5px;
  color: #695A59;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  &:focus {
    outline: 1px solid #695A59;
    outline-offset: 1px;
  }
  &:hover {
    background-color: #CFD8DC;
  }
  &:active {
    color: #343235;
  }
}


