.modal__window {
  background-image: url("../img/footer-background-img.png");
}
.consultation-form {
  width: 500px;
  height: 100%;
  padding-bottom: 120px;
}

.modal-title {
  font-size: 24px;
  line-height: 48px;
  text-transform: uppercase;
  margin: 0;
  color: $main;
}

.consultation-form-name, .consultation-form-tel {
  width: 469px;
  height: 34px;
  margin-bottom: 36px;
  border-style: none;
  border-bottom: 1px solid #A78587;
  background-color: transparent;
  color: rgba(246, 237, 233, 1);
  &::-moz-placeholder {
    color: rgba(246, 237, 233, 1);
  }
  &::-webkit-input-placeholder {
    color: rgba(246, 237, 233, 1);
  }
}

.modal__btn {
  width: 474px;
  height: 52px;
  background: transparent;
  border-style: none;
  border-top: 1px solid #A78587;
  border-bottom: 1px solid #A78587;
}
