.promosection {
  /*background-color: black;*/
  background-image: url("../img/promo-background-img.png");
}
.promosection__btn {
  width: 228px;
  height: 52px;
  background: transparent;
  border-style: none;
  border-top: 1px solid #A78587;
  border-bottom: 1px solid #A78587;
  margin-left: 204px;
}

.promosection__title {
  width: 474px;
  height: 192px;
  padding-top: 80px;
  padding-left: 204px;
  margin-top: 0;
  margin-bottom: 0;
}

.promosection__text {
  width: 434px;
  height: 64px;
  padding-left: 204px;
}

.promosection__img {
  //убрать, когда придёт черёд сеток
  padding-left: 698px;
}
