.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  padding: 0;
  min-height: 8817px;
}

a {
  text-decoration: none;
 }

li {
  list-style: none;
}

@import "normalize";
@import "header";
@import "promo";
@import "text";
@import "about";
@import "catalog";
@import "projects";
@import "company";
@import "footer";
@import "modal";
@import "grid";
@import "variables";
@import "collection"


