.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
a {
  text-decoration: none;
 }
li {
  list-style: none;
}

@import "fonts";
@import "header";
@import "promo";
@import "text";
@import "about";
@import "catalog";
@import "projects";
@import "company";
@import "footer"

