
/*Основной текст*/
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium"),
       local("Montserrat-Medium"),
       url("../fonts/Montserrat-Medium.woff") format("woff"),
       url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"),
       local("Montserrat-Bold"),
       url("../fonts/montserratbold.woff2") format("woff2"),
       url("../fonts/montserratbold.woff") format("woff"),
       url("../fonts/montserratbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*Заголовки*/
@font-face {
  font-family: "Old Standard TT";
  src: local("Old Standard TT Regular"),
       local("OldStandardTT-Regular"),
       url("../fonts/oldstandardttregular.woff2") format("woff2"),
       url("../fonts/oldstandardttregular.woff") format("woff"),
       url("../fonts/oldstandardttregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

//body {
//  font-family:  Montserrat, Verdana, sans-serif;
//  font-style: normal;
//  font-weight: 500;
//  font-size: 18px;
//  line-height: 32px;
//  color: $text-dark;
//  & .header {
//    font-size: 14px;
//    line-height: 24px;
//  }
//  & .contact__link-text {
//    text-decoration-line: underline;
//    color: $text-dark;
//  }
//  & .promosection__text {
//    color: $main;
//    opacity: 0.6;
//  }
//  & .catalog-card__text--cost {
//    font-weight: bold;
//    font-size: 22px;
//    line-height: 24px;
//    color: $background-dark;
//  }
//  & .catalog-card__text--footnote {
//    margin-bottom: 0;
//    font-size: 14px;
//    line-height: 20px;
//    opacity: 0.6;
//  }
//  & .catalog-card__link {
//    font-weight: bold;
//    font-size: 12px;
//    line-height: 16px;
//    text-transform: uppercase;
//    color: #9A8584;
//  }
//  & .company__text {
//    color: #FBF3F0;
//  }
//  & .company__text--small {
//    font-size: 14px;
//    line-height: 24px;
//  }
//}
//
//.logo__link, .contact__link, .menu__item {
//  color: #695A59;
//}
//
//.promosection__btn, .feedback__btn, .modal__btn {
//  font-weight: bold;
//  font-size: 12px;
//  line-height: 20px;
//  text-align: center;
//  color: #A78587;
//  text-transform: uppercase;
//}
//
//h2 {
//  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
//  font-style: normal;
//  font-weight: 500;
//  font-size: 42px;
//  line-height: 54px;
//  text-transform: uppercase;
//  margin: 0;
//  &.promosection__title {
//    font-size: 46px;
//    font-weight: normal;
//    line-height: 64px;
//    text-transform: uppercase;
//    color: $main;
//    }
//}
//
//.blockquote {
//  font-size: 14px;
//  line-height: 24px;
//}
//
//.about__text--mod {
//  color: #FFFFFF;
//  font-size: 26px;
//  line-height: 48px;
//}
//
//.catalog-card__title {
//  font-family: Old Standard TT;
//  font-style: normal;
//  font-weight: normal;
//  font-size: 32px;
//  line-height: 36px;
//  color: #695A59;
//  margin: 0;
//}
//
//.company__title, .footer__title {
//  color: $main;
//  margin: 0;
//}
//
//.footer__title {
//  padding-top: 92px;
//}
//
//.footer__text {
//  color: $main;
//  opacity: 0.6;
//  margin: 0;
//  width: 474px;
//  height: 64px;
//}
//
//.footer__title {
//  width: 474px;
//  height: 108px;
//}
//
//.feedback-text {
//  font-size: 14px;
//  line-height: 18px;
//  color: #FFFFFF;
//
//}
