$main: #eee9e6;
$white: #ffffff;

$background-header: #f8f6f5;
$background-dark: #343235;
$background09: rgba(52, 50, 53, 0.9);
$background-company:  rgba(52, 50, 53, 0.6);

$text-dark: #695a59;
$text-dark-secondary: #9a8584;
$text-dark-add: #a78587;
$text-mixed: #f5f2ed;
$text-background: #eae1dc;
$text-background-talk: rgba(154, 133, 132, 0.1);
$text-unput: #f6ede9;
$input-back: #2d2b2d;
$text-company: #fbf3f0;
$link-hover: #f8a7b8;
$black04: rgba(0,0,0,0.4);

$beige: #9a8584;
$special-beige: #a78587;

//text

$main-text: Montserrat, Verdana, sans-serif;
$title-text: "Old Standard TT", "Times", "Times New Roman", serif;
